$default-background-color: #0d0d0d;
$text-muted: #a0a0a0;
$accent-color: #cd4631;
$default-color: #fff;
$Pewter-blue: #81adc8;
$alice-blue: #edf3f7;
$champagne-color: #f7ede8;
$border-color: #e8e8e8;
$davys-grey: #4d4d4d;

$subtle-grey: #1a1a1a;
// Font colors
$accent-text-color: #1a191e;
$accent-text-color-fade: #1a191e85;
$text-color-light: #1a191e80;
$primary-font: "Montserrat Alternates", sans-serif;

// GREY COLORS

// Borde-radius

$border-radius-sm: 15px;
$border-radius-rm: 7px;

// Box-Shadow for button

$btn-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
$btn-shadow--hover: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
$btn-shadow--clicked: 1.5px 1.5px 0px 0px rgba(0, 0, 0, 0.25);

$black-shadow: 6px 6px 0px 0px rgba(0, 0, 0);
$black-shadow-hover: 8px 8px 0px 0px rgba(0, 0, 0);
$black-shadow--clicked: 1.5px 1.5px 0px 0px rgba(0, 0, 0);

$drop-shadow: 6px 6px 0px 0px rgba(129, 173, 200, 1);
$drop-shadow--hover: 8px 8px 0px 0px rgba(129, 173, 200, 1);
$drop-shadow--clicked: 1.5px 1.5px 0px 0px rgba(129, 173, 200, 1);
