@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.center-children--bg {
  padding-left: 8vw !important;
  padding-right: 8vw !important;

  @include tab-land() {
    padding-left: 6vw !important;
    padding-right: 6vw !important;
  }
}

.center-children--sm {
  padding-left: 4vw !important;
  padding-right: 4vw !important;
}

.content-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include tab-port {
    justify-content: center;
    margin-top: 3rem;
  }

  @include medium-phone {
    gap: 1rem;
  }

  @include small-phone {
    gap: 0.6rem;
  }
}

.white {
  color: white;
}

.accent-color {
  color: $accent-color;
}

.black-bg {
  box-shadow: $btn-shadow;
  border-radius: $border-radius-rm;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.black-bg:active {
  transform: translateY(2px);
  box-shadow: $btn-shadow--clicked;
}

.black-bg:hover {
  transform: translateY(-2px);
  box-shadow: $btn-shadow--hover;
}

.dark-bg {
  box-shadow: $black-shadow;

  border-radius: $border-radius-rm;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dark-bg:active {
  transform: translateY(2px);
  box-shadow: $black-shadow--clicked;
}

.dark-bg:hover {
  transform: translateY(-2px);
  box-shadow: $black-shadow-hover;
}

.light-shadow {
  box-shadow: $btn-shadow;

  border-radius: $border-radius-rm;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.light-shadow:hover {
  transform: translateY(-2px);
  box-shadow: $btn-shadow--hover;
}

.light-shadow:active {
  transform: translateY(2px);
  box-shadow: $btn-shadow--clicked;
}

.bold {
  font-weight: 700;
}

.white-bg {
  background-color: $white;
}

.textbox-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;

  .icon {
    width: 5rem;
    height: 5rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .scissors-left {
    transform: rotate(230deg);
  }
  .scissors-right {
    transform: rotate(-230deg);
  }
}
